@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-gradient {
  position: absolute;
  top: 49rem;
  left: 0;
  width: 100%;
  height: 10rem; /* Adjust height as needed */

  background: linear-gradient(to top, #ffffff, #ffffff, #ffffff00);
}

.custom-gradient {
  background: linear-gradient(55deg, #145bde, #51a5ff);
  background-clip: text;
  color: transparent;
}

.custom-dropdown-bottom {
  bottom: auto;
  top: 100%; /* Positions the dropdown below its parent */
  left: 2px; /* Moves dropdown 2px to the right */
  transform-origin: top; /* Sets the origin of transformation to the top */
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.float-in {
  animation: floatIn 1s ease-out forwards;
}


.float-in-action {
  animation-delay: 0.2s; /* ActionArea floats in slightly later */
}

@media (max-width: 390px) {
  .hidden-below-390 {
    display: none;
  }
}